
body{
  background-color:#bed8ef;
  color:#23688d;
}
h1{
  font-family:'Edo-SZ';
 
}
h2{
  font-size:16px;
  color:#23688d;

}
h3{
  font-family:'ChannelSlanted2';
  font-size:18px;
 
}
.thick-blue-border {
    border-color:#23688d;
    border-width: 5px;
    border-style: solid;
    ;
   
  }
.smaller-image {
    width: 100px;
  }
.box{

  margin:20px auto 40px auto;
  
}